h1 {
    font-family: 'Gugi', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Codystar', sans-serif;
    font-weight: bold;
}

h4 {
    font-size: 20pt;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}

body {
    padding-top: 30px;
}