<div class="container">
    <div class="container-header">
        <h1>&bull; &bull; &bull; Flight Simulator &bull; &bull; &bull;</h1>
        <h2 [style.color] = "fieldColor">{{message}}</h2>
    </div>
    <div class="row justify-content-center" [style.background-color] = "fieldColor">
        <div class="col-3">
            <div class="container-left">
                <h4>Fuel Levels</h4>
                <p>{{fuelStatus}}</p>
                <h4>Astronaut Chat</h4>
                <p>{{chat}}</p>
            </div>
        </div>

        <div class="col-6">
            <div #shuttleBkg class="shuttle-background" [style.background-color] = "fieldColor">
                <img #rocketImage src="assets/images/LaunchCode_rocketline_white.png" height = "75" width = "75" [style.left]="xPos" [style.bottom]="yPos"/>
            </div>
        </div>

        <div class="col-3">
            <div class="container-right">

                <h4>Space Shuttle Height</h4>
                <p>{{shuttleHeight}} km</p>
                
            </div>
            <div class = "buttons" [style.visibility] = "isVisible()">
                <button class = "directional" (click) = "moveRocket(shuttleBkg,'up')" [disabled] = "topMax">Up</button><br>
                <button class = "directional" (click) = "moveRocket(shuttleBkg,'left')" [disabled] = "leftMax">Left</button>
                <button class = "directional" (click) = "moveRocket(shuttleBkg,'right')" [disabled] = "rightMax">Right</button><br>
                <button class = "directional" (click) = "moveRocket(shuttleBkg,'down')" [disabled] = "bottomMax">Down</button>
            </div>
            <div class = "buttons">
                <button class = "control" (click) = "takeOff(); takeOffEnabled = !takeOffEnabled" [disabled] = "!takeOffEnabled">Take Off</button><br>
                <button class = "control" (click) = "land(); takeOffEnabled = !takeOffEnabled" [disabled] = "takeOffEnabled">Land</button><br>
                <button class = "control" (click) = "abort(); takeOffEnabled = !takeOffEnabled" [disabled] = "takeOffEnabled">Abort Mission</button>
            </div>
        </div>
    </div>
</div>