/* HEADER */

.container-header {
    text-align: center;
}


/* CORE */

.justify-content-center {
    text-align: center; 
    height: 400px; 
    width: 100%;
}

.container-left {
    text-align: center; 
    display: inline-block;
}

.shuttle-background {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
}

img {
    position: absolute;
}

.container-right {
    text-align: center; 
    display: inline-block;
}

.container-right > p { 
    display: inline-block;
}


/* BUTTONS */

.container-buttons {
    text-align: center;
}

button.control {
    /* border: 2px; */
    border-radius: 8px;
    width: 120px;
    margin-top: 10px;
}
button.directional {
    /* border: 2px; */
    border-radius: 8px;
    width: 60px;
    margin: 10px 10px 0px 10px;
}


/* just using VSC tool to pick colors easily for use in TS file */
.test {
    color: #f18724
}