/* .container {
    padding: 10px;
} */

/* HEADER */

.container-header {
    /* margin: 40px 10px 0px; */
    text-align: center;
}


/* CORE */

.justify-content-center {
    text-align: center; 
    height: 400px; 
    padding: 15px 10px;
    /* margin: 0px 10px; */
}

.container-left {
    text-align: left; 
    color: white;
    display: inline-block;
    width: 100%;
}

.container-left > p {
    font-size: 13pt;
    font-family: 'Abel', sans-serif;
}

.shuttle-background {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
}

img {
    position: absolute;
}

.container-right {
    color: white;
    text-align: right; 
    display: inline-block;
    width: 100%;
}

.container-right > p { 
    font-size: 13pt;
    font-family: 'Abel', sans-serif;
}


/* BUTTONS */

.container-buttons {
    text-align: center;
}

button.control {
    /* border: 2px; */
    border-radius: 8px;
    width: 120px;
    margin-top: 10px;
}
button.directional {
    /* border: 2px; */
    border-radius: 8px;
    width: 60px;
    margin: 10px 10px 0px 10px;
}


/* just using VSC tool to pick colors easily for use in TS file */
.test {
    color: #f18724
}


.special {
    font-family: 'Gugi', cursive;
}