<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
    <p style = "color: green" *ngIf = "chores.length > finishedChores.length">Work harder!</p>
</div>
<hr>
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
    <img src = "{{trophyImage}}" *ngIf = "finishedChores.length > 3 || chores.length === 0; else doMoreChores" />
    <ng-template #doMoreChores>
        <p>No allowance yet!</p>
    </ng-template>
</div>
<div class = "iceCream" >
    <div *ngIf = "chores.length === 0 && finishedChores.length > 3; else notYet">
        <h1>Ice cream treat!</h1>
    </div>
    <ng-template #notYet>
        <h1>To earn an ice cream treat:</h1>
        <p>The chores list must be empty.</p>
        <p>The Done list must have at least 4 items.</p>
    </ng-template>
</div>
<hr>